= form_for @photo do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2
        = "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li
            = msg
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, placeholder: 'name'
  .field
    = f.label :price
    %br/
    = f.text_field :price, placeholder: 'price'
  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.hidden_field :active, :value => false
  .actions
    = f.submit 'Upload', class: 'ui green button', style: 'float: right;'
